.columnRoot {
  @apply flex flex-col items-center m-2;
  width: 20vw;
  min-width: 225px;
}

.body {
  max-width: 260px;
  white-space: normal;
}

.paper {
  @apply flex flex-col w-full p-2 items-center;
}

.header {
  @apply my-3;
}

.title,
.description {
  text-align: center;
  text-transform: capitalize;
}

.title {
  font-weight: 600;
}
